<h2>List of all celebrities</h2>
<a href='/celebrities/create'>Add a new celebrity</a>
{{#each celebrities}}
  <h3>{{name}}</h3>
  <h4>{{occupation}}</h4>
  <p>{{catchPhrase}}</p>
  <a href='/celebrities/{{id}}'>See details</a>
{{/each}}