<h2>New celebrity</h2>
<form action='/celebrities/create' method='post'>
  <label for='name'>Name</label>
  <input id='name' type='text' name='name' value='' />
  <label for='occupation'>Occupation</label>
  <input id='occupation' type='text' name='occupation' value='' />
  <label for='catchPhrase'>Catch phrase</label>
  <input id='catchPhrase' type='text' name='catchPhrase' value='' />
  <input type='submit' value='Add' />
</form>