<h1>Celebrities and movies</h1>
<ul>
  <li>
    <a href='/celebrities/create'>Add a new celebrity</a>
  </li>
  <li>
    <a href='/movies/create'>Add a new movie</a>
  </li>
  <li>
    <a href='/celebrities'>List of all celebrities</a>
  </li>
  <li>
    <a href='/movies'>List of all movies</a>
  </li>
</ul>