<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link
      href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class='container'><h1>Celebrities and movies</h1>
      <ul>
        <li>
          <a href='/celebrities/create'>Add a new celebrity</a>
        </li>
        <li>
          <a href='/movies/create'>Add a new movie</a>
        </li>
        <li>
          <a href='/celebrities'>List of all celebrities</a>
        </li>
        <li>
          <a href='/movies'>List of all movies</a>
        </li>
      </ul>
      {{{body}}}
    </div>

    <script src='/javascripts/script.js'></script>
  </body>

</html>